body{
    background-color: #e5f6d3;
}

*{
    padding: 1px;
    margin: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.titulo{
    background-color: rgb(214, 232, 214);
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
}

.titulo h1{
    text-align: center;
    border-bottom: 1px solid black;
}

.icons{
    display: flex;
    justify-content: end;
}

.intro{
    display: flex;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}

.text1{
    width: 50%;
    height: 50%;
}

.imagenT{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.imagenT img{
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 150vh;
}

.column1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.column1 img{
    filter: grayscale();
    margin: 5px;
    transition: transform 0.5s ease-out;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.column1 img:hover{
    transform: scale(1.1);
    transition: transform 1s ease-out;
     filter: grayscale(0%);
     border-radius: 25px;
}

.column2 img{
    margin: 5px;
    filter: grayscale();
    transition: transform 0.5s ease-out;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.column2 img:hover{
    transform: scale(1.1); 
    transition: transform 0.5s ease;
    filter: grayscale(0%);    
    border-radius: 25px;
}

.column2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.autor{
    border: 1px solid black;
    justify-content: center ;
    width: 250px;
    height: 360px;
    align-items: center;
    margin: 0 auto;
    background-color: dimgray;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    margin-bottom: 9px;
    border-radius: 5%;
    background-color: rgb(158, 160, 158);
    transition: transform 0.5s ease-out;
}

.fotoAutor{
    text-align: center;
}

.fotoAutor img{
    border-radius: 55%;
    
}

.autor:hover{
    transform: scale(1.1); 
    transition: transform 0.5s ease;
}

.textAutor p{
    text-align: center;
    height: 90px;
}

.arriba p{
    text-align: center;
    font-size: 19px;
}

.barrita{
    display: flex;

}

.barrita a{
    text-decoration: none;
    color: black;
}

.contact{
    display: flex;

}

.ayuda{
    display: flex;
    margin-left: auto;
}

