body{
    background-color: darkgrey;
}

*{
    padding: 1px;
    margin: 1px;
    font-family: monospace;
}

.titulo{
    background-color: aqua;
}

.titulo h1{
    text-align: center;
    border-bottom: 1px solid black;
}

.icons{
    display: flex;
    justify-content: end;
}

.intro{
    display: flex;
}

.text1{
    border: 1px solid black;
    width: 50%;
    height: 50%;
}

.imagenT{
    display: flex;
    border: 1px solid black;
    width: 50%;
    flex-wrap: wrap;
}

.container{
    border: 1px solid black;
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.column1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column1 img{
    filter: grayscale();
    margin: 5px;

    transition: transform 0.5s ease-out;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}

.column1 img:hover{
    transform: scale(1.1);
  transition: transform 1s ease-out;
  filter: grayscale(0%);
}

.column2 img{
    margin: 5px;
    filter: grayscale();
    transition: transform 0.5s ease-out;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}

.column2 img:hover{
    transform: scale(1.1); /* Aumentar el tamaño al 110% */
    transition: transform 0.5s ease;
    filter: grayscale(0%);
    
}

.column2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.autor{
    border: 1px solid black;
    justify-content: center ;
    width: 250px;
    height: 360px;
    align-items: center;
    margin: 0 auto;
    background-color: dimgray;
}

.fotoAutor{
    text-align: center;
}

.fotoAutor img{
    border-radius: 55%;
}

.textAutor p{
    text-align: center;
    border: 2px solid black;
    height: 90px;
}

.arriba p{
    text-align: center;
    font-size: 19px;
}




